@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
body {
        margin: 10px auto;
        width: 900px;
        max-width: 100%;
        background: white;
}

#preamble {
    width: 80%;
    max-width: 980px;
    margin: auto;
}

.hr {
    display: block;
    border: 0;
}

.button {
        border: none;
        color: black;
        padding: 6px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
}

.button:hover {
    background-color: #3a1616;
    color: white;
}

#content, .content {
    width: 80%;
    max-width: 980px;
    margin: auto;
}

#org-div-home-and-up{
	position: fixed;
	right: 0.5em;
	margin-top: 70px;
	font-family:sans-serif;
    }

#table-of-contents {
    z-index: 1;
	margin-top: 105px;
	font-size: 10pt;
	/* font-family:sans-serif; */
	position: fixed;
	right: 0em;
	top: 0em;
	background: white;
	/* line-height: 12pt; */
	/* text-align: right; */
	box-shadow: 0 0 1em #777777;
	-webkit-box-shadow: 0 0 1em #777777;
	-moz-box-shadow: 0 0 1em #777777;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	/* ensure doesn't flow off the screen when expanded */
	max-height: 80%;
	overflow: auto;
}

#table-of-contents h2 {
	font-size: 13pt;
    /* line-height: 1.2; */
	max-width: 9em;
	border: 0;
	font-weight: normal;
	margin-top: 0.75em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.05em;
	padding-bottom: 0.05em; }

#table-of-contents #text-table-of-contents {
	display: none;
	text-align: left; }

#table-of-contents:hover #text-table-of-contents {
	display: block;
	padding: 0.5em;
	margin-top: -1.5em; }

p {
    font-size: 20px;
}

h1 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    line-height: 1.2;
}

h3 {
    font-size: 14px;
    line-height: 1.1;
}
h4 {
    font-size: 12px;
    line-height: 1.1;
    font-weight: bold;
}


a {
    cursor: pointer;
    text-decoration: none;
}

a:link {
    color: blue;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: red;
}

.outline-2 {
    font-size: 20px;
}

.example {
    font-size: 14px;
    outline-style: solid;
    outline-offset: 10px;
}

.org-src-container {
    font-size: 14px;
    outline-style: solid;
    outline-offset: 10px;
}

code {
    font-size: 16px;
    color: #4F894C;
}
